/* shift+alt+F diye formatting */
* {
    margin: 0px auto;

}

main {
    background: linear-gradient(180deg, #ffffff 0%, rgba(214, 221, 237, 1) 100%);


}

.text-black {
    color: #252432;
}

.text-light {
    color: rgba(37, 36, 50, 0.5);
}

.primary-color {
    color: #4E47FF;
}

.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.inter-bold {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 34px;
}

.font-bold {
    font-size: 65px;
    font-weight: 700;
}

.btn-primary {
    background-color: #4E47FF;
    color: #FFFFFF;
    border-radius: 10px;
    border: none;
    padding: 12px 36px;
    font-weight: 700;
    font-size: 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition-duration: 0.4s;
}
.btn-primary:hover {
    background-color: #FFFFFF;
    color: #4E47FF;
}

/* Nav and Header Section */
.header-container {
    background-image: url(/Assets/Hero-bg.png);
    max-width: 1440px;
    height: 698px;
    margin-top: 0px;

}

.nav-bar {
    padding: 50px 0px;
    margin: 0px 130px 158px 130px;
}

.nav-bar ul {
    display: flex;
    justify-content: space-between;
    gap: 909px;
    padding-left: 0px;
}

.nav-bar ul li {
    text-decoration: none;
    list-style: none;
    gap: 909px;
}

.banner-section {
    text-align: center;
}

.banner-title {
    margin-bottom: 37px;
}

/* Action Section */
.action-section {
    display: flex;
    gap: 220px;
    padding-left: 141px;
    padding-right: 159px;
    margin: 116px 0px;

}

.img-card {
    background-image: url(/Assets/wc-mini.png);
    border-radius: 48px;
    width: 403px;
    height: 328px;

}

.action-text {
    padding: 61.5px 0px;
}

.action-description {
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 23px;
}

.action-title {
    font-size: 42px;
    font-weight: 700;
    padding-bottom: 23px;
}

.round-banner-section {
    max-width: 1140px;

    background-color: rgba(78, 71, 255, 0.1);
    justify-items: center;
    border-radius: 24px;
    margin: 0px 159px 137px 141px;
    padding: 50px 142px;
    text-align: center;
}

.num-all {
    display: flex;
    gap: 158px;
    padding-top: 40px;
    padding-bottom: 0px;

}

.number {
    font-size: 60px;
    font-weight: 700;
}

.num-description {
    font-size: 20px;
    font-weight: 400;

}

.ban-title {
    font-weight: 700;
    font-size: 38px;
}

/* Footer Form Section */
.form-section {
    display: flex;
    margin: 92.53px 150px;
    gap: 115px;
    padding: 71px 0px;
}

.form-title {
    font-size: 97px;
    font-weight: 700;
    margin: auto;
}

label[for="name"],
[for="email"],
[for="message"] {
    font-size: 18px;
    font-weight: 500;

}

.label {
    margin: 10px;
}

input[type="email"],
[type="text"] {
    padding: 20px 0px 20px 32px;
    border-radius: 10px;
    border: none;
    margin: 10px 0px 19px 0px;
    max-height: 70px;
    width: 465px;
}
input::placeholder {
    color: rgba(37, 36, 50, 0.5);
    font-size: 16px;
    font-weight: 400;
}
textarea[name="message"] {
    padding: 20px 0px 20px 32px;
    border-radius: 10px;
    border: none;
    margin: 10px 0px 19px 0px;
    background-color: #FFFFFF;
    width: 465px;
}
textarea::placeholder {
    color: rgba(37, 36, 50, 0.5);
    font-size: 16px;
    font-weight: 400;
}
.form-details .btn-primary {
    padding: 19px 201px;
    white-space: nowrap;

}

.form-details .btn-primary:hover {
    background: linear-gradient(45deg, #0055ff 0%, #6902aa 100%);
    color: rgb(255, 255, 255);

}

.form-details {
    width: 497px;
}

.hero-section .btn-primary {
    border-radius: 4px;
    background-color: #4E47FF;
    border: none;
    color: #fff;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    padding: 16px;
    width: 220px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 36px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0, .7);
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.hero-section .btn-primary:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 14px;
    right: -20px;
    transition: 0.5s;
}

.hero-section .btn-primary:hover {
    padding-right: 24px;
    padding-left: 8px;
}

.hero-section .btn-primary:hover:after {
    opacity: 1;
    right: 10px;
}

.hero-title {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
}

.hero-des {
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

.img-card2 {
    width: 840px;
    height: 364.77px;
    border-radius: 48px;
    margin: 20px 0px 0px 0px;
    background-image: url(/Assets/wc-big.png);
}

.hero-section {
    justify-items: center;
    margin: 0px auto;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 14px;
    max-width: 1140px;
    max-height: 696.77px;
    padding: 71px 150px;
    margin: 0px 149px 0px 151px;
}

.foot-section {
    background-color: #FFFFFF;
    text-align: center;
}

.foot-container {
    margin: 104px auto 103px auto;
    width: 531px;
    height: 221px;
}

.foot-section ul {
    display: flex;
    gap: 48px;
    justify-content: space-evenly;
    padding-left: 0px;

}

.foot-list {
    display: flex;
    justify-content: center;
    gap: 48px;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
    margin-top: 20px;
    font-weight: 400;

}

.foot-section .foot-list li {
    list-style: none;
    text-decoration: none;
    margin: 0px;
    justify-content: space-between;

}

.foot-section .foot-list li a {
    text-decoration: none;
    color: rgba(137, 135, 161, 1);
    display: block;
    text-align: center;
}

.foot-logo {
    font-size: 100px;
    margin-bottom: 8px;
}

.foot-description {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
}

/* review section */
.img-card3 {
    background-image: url(/Assets/avatar.png);
    width: 40px;
    height: 40px;
    border-radius: 999px;
    margin: 0px;
    /* margin-right: 302.67px; */
    background-position: left;
}

/* .rev-img{
    display: flex;

} */
.review-card {
    border-radius: 14px;
    max-width: 366.67px;
    max-height: 243px;
    border-style: solid;
    border-color: #F2EDED;
    padding: 24px;
    background-color: white;
    text-align: left;
}

.review-title {
    font-size: 24px;
    margin-top: 24px;
    font-weight: 700;
}

.review-des {
    font-size: 16px;
    margin: 8px 0px 24px 0px;
    font-weight: 400;
}

.rev-name {
    font-size: 16px;
    font-weight: 500;
    color: rgba(117, 117, 117, 1);
}

.rev-date {
    font-size: 16px;
    font-weight: 400;
}

.review-section {
    display: flex;
    margin-top: 50px;
    gap: 20px
}

.review-container {
    margin: 0px 149px 137px 151px;
    text-align: center;
}

.rev-container-second {
    display: flex;
    gap: 12px;
    text-align: left;
}

.rev-details {
    margin: 0px;
}